#logo{
  padding-top: 25px;
  padding-left: 15px;
  background: url('http://localhost/womega/images/logo.png') no-repeat;
  width: 230px;
  float: left;
  border: 1px solid black;
}

#account_info_actions{
  margin-left: 0px;
}

#account_info_actions a{
  float: right;
  padding-left: 10px;
}

#account_logo {
  height: 175px;
  width:  175px;
  float: left;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 20px;
}

#account_details{
  float: right;
  width:  70%;
}

.account_info_row{
  height: 50px;
}

.player_info_row{
  height: 50px;
}

#account_info input{
  float: right;
}

#account_info{
  width: 40%;
}

#player_info {
  width: 40%;
  margin-top:  15px;
  padding-top: 15px;
  border-top: 1px solid black;
}
