.motel_entities_subcontainer{
  margin-bottom: 10px;
}

#motel_stats_canvas_container {
  position: relative;
}

#motel_canvas_container{
  width: 900px;
  height: 400px;
  position: absolute;
  left: 10px;
  top: 95px;
}

#motel_stats_canvas_container > #motel_canvas_container{
  margin-left: 10%;
  width: 90%;
  position: absolute;
  display: none;
  border: none;
}

#motel_canvas_container canvas{
  border: 1px solid black;
  position: absolute;
  top: 20px;
  left: 0;
}

#motel_stats_canvas_container canvas {
  float: right;
  width: 1500px;
  height: 700px;
}

#motel_canvas_controls_container{
  position: relative;
  z-index: 10;
}

#motel_grid_control{
  float: right;
}


#motel_camera_controls_container{
  height: 20px;
  width: 180px;
  background-color: #00FFFF;
  padding-left: 5px;
  float: left;
}

#motel_camera_controls_container img{
  height: 15px;
  width:  15px;
  margin-left: 3px;
  margin-top: 3px;
}

#motel_camera_controls_container img:hover {
  cursor: crosshair;
}

#motel_canvas_selection_controls {
  position: absolute;
}

#motel_close_canvas{
  height: 25px;
  width:  25px;
  background: red;
  float: right;
  font-size: 22px;
}

#motel_close_canvas:hover {
  cursor: crosshair;
}

#motel_entity_container{
  display: none;
  min-width: 300px;
  max-width: 300px;
  min-height: 320px;
  max-height: 320px;
  padding: 5px;
  margin-top: 40px;
  border: 1px solid black;

  background-color: #FFFFFF;
  opacity: 0.8;

  position: relative;
  z-index: 10;
  float: right;

  overflow: hidden;
}

.entity_title{
  cursor: crosshair;
  /*cursor: move;
  cursor: pointer;*/
}

.motel_entities_container_title{
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: crosshair;
  max-height: 14px;
}

.motel_entities_container{
  display: none;
  border: 1px solid black;
  background-color: #FFFFFF;

  min-height: 18px;
  min-width: 150px;
  max-width: 150px;
  float: left;

  padding-left: 5px;
  margin-left: 35px;
}


.motel_entities_container ul{
  list-style: none;
  padding-left: 15px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.motel_entities_container > ul{
  list-style: circle;
  padding-left: 25px;
  display: none;
}

#motel_dialog{
  display: none;
}

#motel_jplayer_container{
  position: absolute;
  left: 660px;
  top: 5px;
  width: 250px;
  height: 25px;

  background:#FFF;
  -moz-border-radius:3px;
  -webkit-border-radius:3px
}

#motel_jplayer_container .players{
  float:left;
  margin:10px
}

#motel_chat{
  width: 900px;
  height: 350px;
  border: 1px solid black;
  position: absolute;
  left: 10px;
  top: 525px;
}

#motel_chat_input{
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

#motel_chat_output{
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

#motel_chat_input input[type=text]{
  width: 90%;
}

#motel_chat_output textarea{
  width: 97%;
  height: 80%;
}

#login_logout_link{
  position: absolute;
  left: 10px;
  top: 5px;
  width: 230px;
  height: 25px;

  border: 1px solid black;
  padding-left: 15px;
  padding-top: 25px;

  background: url('http://localhost/wotel/images/logo.png') no-repeat;
}

#user_username,
#user_password{
  margin-bottom: 15px;
}

#login_link{
  display: block;
}

#primary_navigation{
  position: absolute;
  left: 10px;
  top: 56px;
  width: 245px;
  border: 1px solid black;
}

#primary_navigation a{
  margin: 0 5px 0 5px;
  font-size: 0.8em;
  padding-left:  2px;
  padding-right: 7px;
}

#omega_stats_nav {
  margin-top: 70px;
  float: left;
  width: 10%;
}

#omega_stats_nav li{
  list-style: none;
  padding-left: 10px;
  background: #FFFF00;
  border: 1px black solid;
}

#omega_stats_nav li:hover {
  background: #00FFFF;
  cursor: crosshair;
}

#omega_stats_content{
  float: left;
  margin-top: 70px;
  width: 50%;
}

#omega_cosmos_stats,
#omega_users_stats,
#omega_actions_stats{
  display: none;
  margin-left: 15px;
}

.command_icon {
  border: 1px solid #EEF3E2;
  height: 30px;
  width: 130px;
  padding-top: 5px;
  padding-left: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

.command_icon:hover {
  cursor: crosshair;
  color: #8B7D6B;
}

.destination_coord {
  width: 50px;
  margin-right: 10px;
}

#command_ship_move {
  margin-top: 20px;
}

/* specific command icons */

#command_jumpgate_trigger {
  background: url('http://localhost/wotel/images/icons/trigger-jumpgate.png') no-repeat;
  background-size: 30px;
}

#command_selection_clear {
  background: url('http://localhost/wotel/images/icons/clear-selection.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_destination {
  background: url('http://localhost/wotel/images/icons/move-ship.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_target {
  background: url('http://localhost/wotel/images/icons/attack-ship.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_dock {
  background: url('http://localhost/wotel/images/icons/dock-ship.png') no-repeat;
  background-size: 30px;
}

#command_ship_undock {
  background: url('http://localhost/wotel/images/icons/dock-ship.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_transfter_resource {
  background: url('http://localhost/wotel/images/icons/resource-transfer.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_mining {
  background: url('http://localhost/wotel/images/icons/start-mining.png') no-repeat;
  background-size: 30px;
}
