#motel_entities_container{
  position: absolute;
  left: 25px;
  top: 75px;
  border: 1px solid black;
  min-width: 350px;
  min-height: 625px;
  height: 625px;
  padding: 5px;
  overflow: auto;
}

.motel_entities_subcontainer{
  margin-bottom: 10px;
}

#motel_canvas_container{
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  width: 1500px;
  height: 700px;
}

#motel_entity_container{
  display: none;
  position: absolute;
  right: 25px;
  top: 75px;
  min-width: 350px;
  min-height: 625px;
  padding: 5px;
  border: 1px solid black;
}

#motel_entities_container .entity_title{
  cursor: crosshair;
  /*cursor: move;
  cursor: pointer;*/
}

.motel_entities_container_title{
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#motel_entities_container ul{
  list-style: none;
  padding-left: 15px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#motel_entities_container > ul{
  list-style: circle;
  padding-left: 25px;
}

#motel_dialog{
  display: none;
}

#motel_jplayer_container{
  position: absolute;
  right: 7px;
  top: 5px;
  width: 250px;
  height: 25px;

  background:#FFF;
  -moz-border-radius:3px;
  -webkit-border-radius:3px
}

#motel_jplayer_container .players{
  float:left;
  margin:10px
}

#motel_chat{
  margin: 0 auto;
  width: 1500px;
  height: 350px;
  margin-top: 10px;
  border: 1px solid black;
}

#motel_chat_input{
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

#motel_chat_output{
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

#motel_chat_input input[type=text]{
  width: 93%;
}

#motel_chat_output textarea{
  width: 97%;
  height: 80%;
}

#login_logout_link{
  position: absolute;
  left: 7px;
  top: 5px;
  width: 230px;
  height: 25px;

  border: 1px solid black;
  padding-left: 15px;
  padding-top: 25px;

  background: url('http://localhost/wotel/images/logo.png') no-repeat;
}

#primary_navigation{
  top: 5px;
  margin: 0 auto;
  width: 750px;
}

#primary_navigation a{
  margin: 0 55px 0 55px;
  font-size: 1.5em;
}

.command_icon {
  border: 1px solid #EEF3E2;
  height: 30px;
  width: 130px;
  padding-top: 5px;
  padding-left: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

.command_icon:hover {
  cursor: crosshair;
  color: #8B7D6B;
}

/* specific command icons */

#command_jumpgate_trigger {
  background: url('http://localhost/wotel/images/icons/trigger-jumpgate.png') no-repeat;
  background-size: 30px;
}

#command_selection_clear {
  background: url('http://localhost/wotel/images/icons/clear-selection.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_target {
  background: url('http://localhost/wotel/images/icons/attack-ship.png') no-repeat;
  background-size: 30px;
}

#command_ship_select_dock {
  background: url('http://localhost/wotel/images/icons/dock-ship.png') no-repeat;
  background-size: 30px;
}

#command_ship_undock {
  background: url('http://localhost/wotel/images/icons/dock-ship.png') no-repeat;
  background-size: 30px;
}
