#motel_entities_container{
  position: absolute;
  left: 25px;
  top: 75px;
  border: 1px solid black;
  min-width: 350px;
  min-height: 625px;
  height: 625px;
  padding: 5px;
  overflow: auto;
}

#motel_canvas_container{
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  width: 1500px;
  height: 700px;
}

#motel_entity_container{
  display: none;
  position: absolute;
  right: 25px;
  top: 75px;
  min-width: 350px;
  min-height: 625px;
  padding: 5px;
  border: 1px solid black;
}

#motel_entities_container .entity_title{
  cursor: crosshair;
  /*cursor: move;
  cursor: pointer;*/
}

.motel_entities_container_title{
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#motel_entities_container ul{
  list-style: none;
  padding-left: 15px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#motel_entities_container > ul{
  list-style: circle;
  padding-left: 25px;
}
