#canvas_controls
  = image_tag("/images/camera/reset.png", :id => "cam_reset")

  #locations_list.entities_container
    %b Locations
    %ul
  #entities_list.entities_container
    %b Entities
    %ul
  #missions_button.canvas_button
    %b Missions

  #axis_controls
    %input#toggle_axis_canvas{:type => "checkbox"} axis

  .clear_both

#omega_canvas

#omega_entity_container
  #entity_container_close X
  #entity_container_contents
