- content_for :javascripts do
  = partial :canvas_shaders

- content_for :stylesheets do
  = stylesheet_link_tag "canvas"

#canvas_controls
  #locations_list.entities_container
    %b Locations
    %ul
  #entities_list.entities_container
    %b Entities
    %ul
  #missions_button.canvas_button
    %b Missions

  #toggle_axis
    %input{:type => "checkbox"}
    axis
  = yield_content :audio_control # include the audio control here
  = image_tag("/images/reset_cam.png", :id => "cam_reset")

#omega_canvas

#omega_entity_container{:tabindex => 1}
  #entity_container_close X
  #entity_container_contents
