// two shaders from http://stemkoski.github.io/Three.js/Shader-Halo.html
/// with modifications
%script{:id=>"vertexShaderStar", :type=>"x-shader/x-vertex"}
  :plain
    varying vec3 vNormal;
    varying float dist;
    void main()
    {
        vec4 nPos       = vec4( position, 1.0 );
        vec4 mvPosition = modelViewMatrix * nPos;

        dist         = -mvPosition.z / 5000.0;
        vNormal      = normalize( normalMatrix * normal );

        gl_Position = projectionMatrix * mvPosition;
    }

%script{:id=>"fragmentShaderStar", :type=>"x-shader/x-vertex"}
  :plain
    uniform float c;
    uniform float p;

    uniform float r;
    uniform float g;
    uniform float b;

    varying vec3 vNormal;
    varying float dist;
    void main()
    {
        /// TODO randomize fade in/out of glow
        vec4 cp = viewMatrix * vec4(cameraPosition,0.0);
        vec3 cpn = normalize(cp.xyz);
        float intensity = pow( c - dot(vNormal, cpn), p) / dist;
        gl_FragColor = vec4( r, g, b, 1.0 ) * intensity;
    }
