// two shaders from http://stemkoski.github.io/Three.js/Shader-Halo.html
/// with modifications
%script{:id=>"vertexShaderHalo", :type=>"x-shader/x-vertex"}
  :plain
    varying vec3 vNormal;
    varying float dist;
    void main()
    {
        vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
        vNormal = normalize( normalMatrix * normal );
        dist = -mvPosition.z / 5000.0;
        gl_Position = projectionMatrix * mvPosition;
    }

%script{:id=>"fragmentShaderHalo", :type=>"x-shader/x-vertex"}
  :plain
    uniform float c;
    uniform float p;
    varying vec3 vNormal;
    varying float dist;
    void main()
    {
        /// TODO randomize fade in/out of glow
        float intensity = pow( c - dot( vNormal, vec3( 0.0, 0.0, 1.0 ) ), p ) / dist;
        gl_FragColor = vec4( 1.0, 1.0, 1.0, 1.0 ) * intensity;
    }
