- content_for :javascripts do
  = javascript_include_tag "ui/canvas"
  = partial :canvas_shaders

- content_for :stylesheets do
  = stylesheet_link_tag "canvas"

#canvas_controls
  #camera_controls
    = image_tag("/images/camera/reset.png",        :id => "cam_reset")

  #locations_list.entities_container
    %b Locations
    %ul
  #entities_list.entities_container
    %b Entities
    %ul
  #missions_button.canvas_button
    %b Missions

  #toggle_canvas
    canvas

  #axis_controls
    %input#toggle_axis_canvas{:type => "checkbox"} toggle axis
    %input#toggle_grid_canvas{:type => "checkbox"} toggle grid&nbsp;

  .clear_both

#omega_canvas

#omega_entity_container
  #entity_container_close X
  #entity_container_contents

#canvas_select_box
