- content_for :stylesheets do
  = stylesheet_link_tag "chat"

#chat_container
  #chat_input
    &nbsp;>
    %input{:type => "text"}
    %input{:type => "button", :value => "send"}
  #chat_output
    %textarea{:disabled => "true"}

#toggle_chat
  Chat
