- content_for :javascripts do
  = javascript_include_tag "ui/dialog"

- content_for :stylesheets do
  = stylesheet_link_tag "dialog"

#omega_dialog

#login_dialog.dialog_content
  .dialog_row
    Username:
    %input#login_username{:type => "text"}

  .dialog_row
    Password:
    %input#login_password{:type => "password"}

  .dialog_row
    %input#login_button{:type => "button", :value => "login"}

#login_failed_dialog.dialog_content
  #login_err.dialog_row

#register_dialog.dialog_content
  .dialog_row
    Username:
    %input#register_username{:type => "text"}

  .dialog_row
    Password:
    %input#register_password{:type => "password"}

  .dialog_row
    Email:
    %input#register_email{:type => "text"}

  .dialog_row
    #omega_recaptcha

  .dialog_row
    /FIXME terms of use link
    By submitting this form, you are agreeing to The Omegaverse 
    = link_to 'Terms of Use', '/wiki/Terms_of_Use'

  .dialog_row
    %input#register_button{:type => "button", :value => "confirm"}

#registration_submitted_dialog.dialog_content
  .dialog_row
    Creating account, you should receive a confirmation email momentarily

#registration_failed_dialog.dialog_content
  #registration_err.dialog_row

#missions_dialog.dialog_content
  #missions_list.dialog_row
  #completed_missions.dialog_row

#assigned_mission_dialog.dialog_content
  #assigned_mission_title.dialog_row
  #assigned_mission_description.dialog_row
  #assigned_mission_assigned_time.dialog_row
  #assigned_mission_expires.dialog_row

#mission_assignment_failed_dialog.dialog_content
  #mission_assignment_error.dialog_row

#command_dialog.dialog_content
  #command_error

#select_destination_dialog.dialog_content
  #dest_id.dialog_row
  .dialog_row
    X:
    %input#dest_x{:type => :text}
  .dialog_row
    Y:
    %input#dest_y{:type => :text}
  .dialog_row
    Z:
    %input#dest_z{:type => :text}
  .dialog_row
    %input#command_move{:value => 'move', :type => :button}

#select_attack_target_dialog.dialog_content
  #attack_id.dialog_row
  #attack_targets

#select_docking_station_dialog.dialog_content
  #dock_id.dialog_row
  #dock_stations

#select_mining_target_dialog.dialog_content
  #mining_id.dialog_row
  #mining_targets

#incorrect_passwords_dialog.dialog_content
  .dialog_row
    Passwords do not match

#user_update_error_dialog.dialog_content
  #update_user_error

#user_updated_dialog.dialog_content
  User successfully updated
