---
title: The Omegaverse Development Platform
---
- content_for :javascripts do
  = javascript_include_tag "pages/dev"

- content_for :stylesheets do
  = stylesheet_link_tag "dev"

- content_for :secondary_navigation do
  Dev

.clear_both

= partial :canvas
