#chat_container
  //margin-top: 5px
  // should be sufficient enough to display canvas above it:
  margin-top: 450px
  border: 1px solid black
  min-height: 150px

#chat_input input[type='text']
  margin-top: 10px
  width: 90%

#chat_output textarea
  margin: 10px 0 15px 15px
  width: 95%
  min-height: 200px
